/* Import Google Web fonts */

@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/loadergif.gif') 50% 50% no-repeat rgb(0,0,0);
    opacity: 100%;
}

body {
  background: #fff;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.74);
}

.content {
  margin: 0 auto;
  padding: 1em 5%;
  text-align: justify;
}

.subhead {
  font-family: 'Kaushan Script', cursive;
  font-size: 75px;
  text-align: center;
}

blockquote {
  text-align: center;
  background: white;
  padding: 1em;
  font-size: 1.25em;
  text-align: center;
  color: 	#87CEEB;
  border-bottom: 5px solid #999;
  border-top: 5px solid #999;
}

.one {
  height: 100vh;
  max-width: 100%;
  background: url(images/bah3.png);
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  color: black;
  width: 50%;
  position: absolute;
  top: 4em;
  left: 2em;
  text-align: left;
}

.title h2 {
font-weight: lighter;
}

.title span {
  font-family: 'Alegreya Sans', sans-serif;
}

.profile img { /* styles the profile images in the first header section*/

  width: 90px;
  border-radius: 50%;
  vertical-align: middle;
  margin: 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.profile {
  text-align: center;
  font-weight: normal;
}

.introtext {
  text-align: justify;
}

.origns1 {
  width: 100%;
}

.originstext {
  float: right;
  width: 60%;
  text-align: justify;
}

.iran {
  float: left;
	width: 38%;
}

.origins2 {
  clear: both;
}

path {
  stroke-dasharray: 1741.6407470703125;
  animation: dash 40s infinite ;
  animation-delay: 45s ;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1741.6407470703125;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.instruction {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-style: italic;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 0.5em;
  flex-basis: 20%; /*This determines each item's width*/
  flex-grow: 1; /* This makes each item grow to fit the available space. set to 0 to tuen off*/
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.flip-container img {
  max-width: 100%;
}

.originstext2 {
  text-align: center;
  position: relative;
  padding-top: 2em;
}

.image_bg {
  /* this sets the height of each
  full width image section to that of the viewport.*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center !important;
}

.study {
  position: absolute;
    bottom: 0;
    left: 0;
    color: white;

}

.Comm1 {
  background-image: url(images/bahaiback1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.unity {
width: 100%;
}

.video1 {
float: right;
width: 45%
}

.worshiptext1 {
float: left;
width: 42%;
}

.video2 {
float: left;
width: 45%;
padding-top: 10%;
}

.worshiptext2 {
float: right;
width: 42%;
}

.video3 {
float: right;
width: 45%;
padding-top: 10%;
}

.worshiptext3 {
float: left;
width: 42%;
}

.unity2 {
  clear: both;
  padding-top: 1em;
}

.community{
  width: 100%;
}

.comtext1 {
float: left;
width: 45%;
text-align: justify;
}

.map {
float: right;
width: 50%;
}

.instruction2 {
  font-style: italic;
}

.Andisha {
width: 100%;
height: 650px;
}

.video4 {
float: left;
width: 45%;
}

.worshiptext4 {
float: right;
width: 50%;
text-align: justify;
padding-top: 7vh;
}

.video5 {
float: right;
width: 45%;
padding-top: 10vh;
}

.worshiptext5 {
float: left;
width: 50%;
text-align: justify;
padding-top: 7vh;
}


.nr1 {
  width: 100%;
}

.nrtext1 {
  float: right;
  width: 58%;
}

.dancing {
float: left;
width: 40%;
}

.life1 {
  background-image: url(images/bahaiback2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.video6 {
  display: block;
  margin: 0 auto;
}

.autonomy {
  width: 100%;
}

.subhead2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    text-align: center;
}

.autonomy1 {
  float: left;
  width: 40%;
  padding-bottom: 5%;
}

.main-slider {
  float: right;
  width: 58%;
}

.video-wrapper {
	position: relative;
	padding-top: 50vh;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

footer {
  height: 10px;
  background: #999;
  color: #eee;
  text-align: center;
  padding: 1em;
}

@media screen and (max-width:1100px) {
  .title {
    width:50%; /* The width is 100%, when the viewport is 37.5em or smaller */
    top: 0;
    font-size: 25px;
  }

@media screen and (max-width:1000px) {
  .iran, .originstext {
    width:100%; /* The width is 100%, when the viewport is 37.5em or smaller */
    display: block;
    margin: 0 auto;
    float: none;
  }

@media screen and (max-width:1000px) {
  .origins2 {
    width:100%; /* The width is 100%, when the viewport is 37.5em or smaller */
    padding-top: 0%;
    }

@media screen and (max-width:1000px) {
  .flex_container {
    width:50%; /* The width is 100%, when the viewport is 37.5em or smaller */
    display: block;
    margin: 0 auto;
      }

@media screen and (max-width:1400px) {
  .video1, .video2, .video3, .worshiptext1, .worshiptext2, .worshiptext3 {
    width:80%; /* The width is 100%, when the viewport is 37.5em or smaller */
    display: block;
    margin: 0 auto;
    float: none;
  }

@media screen and (max-width:1400px) {
  .community {
    width:100%; /* The width is 100%, when the viewport is 37.5em or smaller */
    padding-bottom: 35%;
      }

@media screen and (max-width:1400px) {
  .content2 {
    width:100%; /* The width is 100%, when the viewport is 37.5em or smaller */
    padding-top: 75%;
    }

@media screen and (max-width:1400px) {
  .comtext1, .map, .right {
    width:100%; /* The width is 100%, when the viewport is 37.5em or smaller */
    display: inline;
  }

@media screen and (max-width:1400px) {
    .map {
      padding-left: 0;
    }

@media screen and (max-width:1400px) {
    .video4, .video5, .worshiptext4, .worshiptext5 {
      width:100%; /* The width is 100%, when the viewport is 37.5em or smaller */
      position: relative;
      padding-left: 0;
      padding-top: 0;
      display: block;
      margin: 0 auto;
        }

@media screen and (max-width:1400px) {
    .Andisha {
      height: 900px;
            }

@media screen and (max-width:1400px) {
    .nrtext1, .dancing {
      width:100%; /* The width is 100%, when the viewport is 37.5em or smaller */
      position: relative;
                }

@media screen and (max-width:1400px) {
    .autonomy1, .main-slider {
      width:100%; /* The width is 100%, when the viewport is 37.5em or smaller */
      float: none;
              }

@media screen and (max-width:1400px) {
    .main-slider {
      width: 80%; /* The width is 100%, when the viewport is 37.5em or smaller */
      height: 30%;
            }

@media screen and (max-width:1400px) {
 .autonomy {
      width: 100%; /* The width is 100%, when the viewport is 37.5em or smaller */
      height: 650px;
                        }
